* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #111;
}

.app {
  min-height: 100vh;
}

.header {
  background: white;
  padding: 50px;
  text-align: center;
}

.header h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.header p {
  font-size: 20px;
  color: #777;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 40px;
}

.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.precio {
  font-size: 22px;
  color: #9b7b4f;
  font-weight: bold;
}
